.textos {
    color: rgb(31, 82, 133);
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px #4da2b3;
}

.titulo {
    color: rgb(87, 35, 9);
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px #ac7536;
}